<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs") %> 

    <body>
        
        <%- include("./partials/header.ejs") %>

        <h1 class="error404">ERROR 404, PAGE NOT FOUND</h1>
        <a href="/" class="error404">RETURN HOME</a>