<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs") %> 

    <body>
        
        <%- include("./partials/header.ejs") %>

        <section class="banner">
            <img src="images/img-home-banner.jpg" alt="banner" width="350px">
        </section>
        <main>
            <section>
                <h3>Basado en tu última visita</h3>
                <article>
                    <img src="images/img-cafetera-moulinex.jpg" alt="banner">
                    <div>
                        
                        <i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <h4>Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img src="images/img-macbook-pro-2019.jpg" alt="banner">
                    <div>
                        
                        <i class="fas fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <h4>MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="banner">
                    <div>
                        
                        <i class="fas fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        <h4>Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="images/img-tv-samsung-smart.jpg" alt="banner">
                    <div>
                        <i class="fas fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <h4>SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </section>
            <section>
                <h3 id="ofertas">Ofertas</h3>
                <article>
                    <img src="images/img-cafetera-moulinex.jpg" alt="banner">
                    <div>
                        
                        <i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <h4>Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img src="images/img-macbook-pro-2019.jpg" alt="banner">
                    <div>
                        
                        <i class="fas fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <h4>MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="banner">
                    <div>
                        
                        <i class="fas fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        <h4>Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="images/img-tv-samsung-smart.jpg" alt="banner">
                    <div>
                        <i class="fas fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <h4>SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </section>
        </main>
        
        <%- include("./partials/footer.ejs") %>

    </body>
</html>