@import url("./components/header.css");
@import url("./components/footer.css");

@import url("./components/login.css");
@import url("./components/register.css");


*{
    box-sizing: border-box;
}
body {
    font-family:'Roboto';
    background-color: #ebebeb;
    margin: 0;
    padding: 0;
}


@media (min-width: 361px) {
    header{
        padding: 15px 10px 0 10px;
        justify-content: space-around;
    }
    header a{width: 25%;}
    header a img.logo {
        width: 100%;
    }

    header .buscador {
        
        width: 37%;
        display: flex;
    }

    header p {
        display: block;
        width: 33%;
        text-align: center;
    }

    main section article {
        width: 43.8%;
    }

    main section article div h4 {
        display: inline;
    }

    header div.burger-menu {
        text-align: center;
        display: none;
    }

    header nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    header nav ul.izq {
        width: 40%;
        margin-left: 20px;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    header nav ul.izq li{
        white-space: nowrap;
        margin: 10px 5px 0 5px;
    }
    header nav ul.der{
        width: 40%;
        margin-right: 20px;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    header nav ul.der li{
        white-space: nowrap;
        margin: 10px 5px 0 5px;
    }

}

@media (min-width: 769px) {
    header{
        padding: 10px 30px 0 30px;
    }
    header a{max-width: 200px;}
    header a img.logo {
        width: 100%;
    }
    header .buscador{
        padding: 0 0 0 0;
        width: 40%; 
        display: flex;
        justify-content: space-between;
    }
    main section article{
        width: 22.1%;
    }
    main section article div h4{
        display: inline;
    }
    footer ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    footer ul li{
        width: 28%;
    }
}