*{
    box-sizing: border-box;
}
body {
    font-family:'Roboto';
    background-color: #ebebeb;
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    background-color: #EAC926;
    width: 100%;
    position: relative;
}

header img.logo{
    width: 30vw;
}

header .buscador div.input {
    background-color:white;
    border: 1px solid black;
    color: #666;
}

header .buscador div.lupa i {
    background-color:white;
    border: 1px solid black;
    color: #666;
}

header p {
    text-align: center;
}

header nav ul li a{
    font-size: 12px;
    text-decoration: none;
    color: #000;
    list-style-type:none;
}

header nav ul li{
    list-style-type: none;
}

header div.burger-menu i {
    background-color: #1259c3;
    color: #fff;
    font-size: 20px;
    padding: 8px;
    margin: 10px 0 20px 0;
    border-radius: 5px;
}

header div.burger-menu {
    text-align: center;
}

.banner img{
    width: 100%;
}

 /* MAIN*/
 main{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: center;
    align-items: center;
    align-content: center;
 }

main section{
    width:90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }

main section h3 {
    display: block;
    width: 100%;
    font-size: 24px;
    text-align: left;
}

main section article{

    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    justify-self: center;
}
main section article img{
    width: 100%;
    border-bottom: solid 1px #ebebeb ;
}

main section article div{
    position: relative;
    text-align: left;
    padding: 15px ;
}

main section article div p.precio {
    font-size: 18px;
    margin-bottom: -15px;
}

main section article div p.descuento {
    font-size: 16px;
    color: #39b54a;
}

main section article div h4 {
    display: none;
    font-size: 16px;
    margin: 12px 0;
}

main section article div i{
    text-align: center;
    display: block;
    font-size: 16px;
    padding: 6px 5px 0px 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    color: #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -20px;
    
    }

    /* FOOTER */

footer{
    width: 100%;
    margin-top: 20px;
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer ul{
    width: 90%;
    padding-inline-start: 0;
}
footer ul li{
    display: flex;
    flex-direction: column;
}

footer ul li div i {
    font-size: 50px;
    margin-top: 10px;
}

footer ul li h3 {
    font-size: 24px;
    margin:12px;
}

footer ul li p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 38px;
}

footer ul li div {
    color: #1259c3;
}

footer ul li p.copyright {
    text-align: left;
    margin-top: 20px;
    color: #666;
    margin-bottom: 0;
}


@media (min-width: 361px){
    main section article{
        width: 43.8%;
        display: block;
    }
}

@media (min-width: 769px) {
    main section article{
        width: 22.1%;
        display: block;
    }
}