body {
    font-family:'Roboto';
    background-color: #ebebeb;
}

header {
    background-color: #EAC926;
}

header .buscador div.input {
    background-color:white;
    border: 1px solid black;
    color: #666;
}

header .buscador div.lupa i {
    background-color:white;
    border: 1px solid black;
    color: #666;
}

header p {
    text-align: center;
}

header nav ul li a{
    font-size: 12px;
    text-decoration: none;
    color: #000;
    list-style-type:none;
}

header nav ul li{
    list-style-type: none;
}

header div.burger-menu i {
    background-color: #1259c3;
    color: #fff;
    font-size: 20px;
    padding: 8px;
    margin: 10px 0 20px 0;
    border-radius: 5px;
}

header div.burger-menu {
    text-align: center;
}

main section h3 {
    font-size: 24px;
}

main section article p.precio {
    font-size: 18px;
}

main section article p.descuento {
    font-size: 16px;
}

main section article h4 {
    font-size: 16px;
}

footer ul li h3 {
    font-size: 24px;
    text-align: center;
    line-height: 3px;
}

footer ul li p {
    font-size: 16px;
    text-align: center;
    line-height: 23px;
    margin-bottom: 100px;
}

footer ul li div {
    text-align: center;
    color: #1259c3;
    margin-top: 150px;
}

footer ul {
    text-align: center;
}

footer ul li div i {
    font-size: 50px;
    
}

footer ul li p.copyright {
    text-align: left;
    margin-bottom: 0;
}

footer ul {
    background-color:white;
    padding-top: 1px;
}

main section article {
    background-color: white;
    text-align: center;
    
}