<!DOCTYPE html>
<html>
    <%- include("../partials/head.ejs") %> 
    <body>
        <%- include("../partials/header.ejs") %>

        <div class="imagenPerfil"><img src="/images/<%= userFound.avatar %>" alt="avatar pic"></div>
        
        



        <%- include("../partials/footer.ejs") %>
    </body>
</html>